{% extends 'main.html' %} {%load static %}
{% block css %} {%static 'css/home.css'%} {% endblock css %}
{% block body %} 
{% comment %} Social linnks {% endcomment %}
<div class="hanging-social">
  <ul>
    <li class="facebook">
      <a href="#" target="_blank">
        <i class="fab fa-facebook"></i>
      </a>
    </li>
    <li class="twitter">
    <a href="#" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
    </li>
  
    <li class="instagram">
      <a href="" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
    </li>
    <li class="ta">
      <a href="#" target="_blank">
        <i class="fab fa-tripadvisor"></i>
      </a>
    </li>
  </ul>
</div>

{% comment %} Slider section {% endcomment %}
{%include 'home/slider.html'%}

{% comment %} WelcomeSection {% endcomment %}
{% include 'home/welcome_section.html'%}

{% endblock body %}