{%load static %}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

  <div class="carousel-inner">
    <div class="carousel-item active">
        <img class="d-block w-100" src="{%static 'images/boudhanath.jpeg'%}" alt="Third slide">
    </div>
    <div class="carousel-item ">
      <img class="d-block w-100" src="{%static 'images/lake.png'%}" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{%static 'images/skydiving.jpeg'%}" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{%static 'images/mountain.jpeg'%}" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

  
</div>
<div class="test">
<div class="serchcont container">
    <div class="search">
      <h2>Find your tour</h2>
      <form method="POST">
        <div class="row">
          <div class="col-xs-5 col-sm-6 col-md-4">
            <div class="destination_select_field mrgb-10">
                <select class="form-control selectpicker text-light" data-live-search="true" name="destinations" required="">
                      <option value="1">You are from</option>
                                  </select>
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
            </div>
          </div>
          <div class="col-xs-5 col-sm-6 col-md-3">
            <div class="Activities_select_field mrgb-10">
              <select class="form-control selectpicker text-light" data-live-search="true" name="activities" required="">
                    <option value="1">Activities</option>
                    <option value="adventurous-tours-in-nepal">Adventurous Tours in Nepal</option>
                    <option value="multi-country-tour">Multi Country Tours</option>
                    <option value="buddhistpilgrimage-tour">Buddhist Tours in Nepal</option>
                    <option value="popular-package">Most Selling</option>
                    <option value="helicopter-tours-in-nepal">Helicopter Tours in Nepal</option>
                    <option value="winter-summer-trekking-in-nepal">Christmas Tours in Nepal</option>
                    <option value="rafting-kayaking">River Rafting in Nepal</option>
                    <option value="major-festival-trips">Festival Tours in Nepal</option>
                    <option value="family-holidays">Nepal Family Holidays</option>
                    <option value="jungle-safari">Jungle Safaris in Nepal</option>
                    <option value="other-actitivies">More Activities</option>
                    <option value="lantang-region-trek">Lantang Region Treks</option>
                    <option value="annapurna-region-trek">Annapurna Region Treks</option>
                    <option value="everest-region-trekking">Everest Region Treks</option>
                    <option value="expedition">Expeditions in Nepal</option>
                    <option value="peak-climbing-in-nepal">Peak Climbing in Nepal</option>
                    <option value="trekking">Trekking in Nepal</option>
                </select>
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </div>
          </div>
          <div class="col-xs-5 col-sm-6 col-md-3">
            <div class="check_in_field mrgb-10">
              <input type="text" id="Check_out_date_tab" placeholder="check in" data-provide="datepicker" class="datepicker hasDatepicker">
              <i class="fa fa-calendar text-light"></i>
            </div>
          </div>
          <div class="col-xs-5 col-sm-6 col-md-2">
            <div class="submit_field mrgb-10">
                <input type="hidden" value="1" name="search-submit">
                <button class="btn tab_search" type="submit">Search</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  </div>