<div class="welcome_section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-5">
        <div class="title_head">
          <h1 class="font-22 mrgb-20">Welcome to Majestic Himalaya</h1>
        </div>
        <div class="wel_inner mrgb-20">
          <p>Majestic Himalaya Treks &amp; Expedition(P.) Ltd. is one of the leading trekking company having more than a decade long experiences in mountain tourism industry. Nepal is one of the common home for the best travel destination in the world. Travel to this magical planet is a trip of a lifetime, a tour of discovery, an experience of spirit and life. We make your dream comes true to see real Shangri-La on earth. We organize treks, peak climbing, mountain expeditions, rafting, city tours, mountain biking, Bungee jumping and other activities for every outdoor lover.&nbsp;We provide some unique and well designed tour itineraries based on the experiences&nbsp; from decades of dealing with different clients. We assure you that your travel to this&nbsp; culturally and naturally Nepal becomes a memorable one.Our motto is to offer "unforgettable travel experiences to every our clients through our wide range of travel products. Superior customer care is our highest priority" 
          </p></div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="travel_box mrgb-20">
          <div class="title_head">
            <h1 class="font-22 mrgb-20">
              <div class="tri_icon"><img src="https://majestichimalaya.com/wp-content/themes/majestic_himalaya/assets/images/trip1.png" alt="trip"></div>
              Latest Trip Review</h1>
          </div>
                                                       <div class="review-img">
                         <img src="https://majestichimalaya.com/wp-content/uploads/2019/12/DSC_0271.jpg" alt="Gaurishankar Conservation Area Trip">
                       </div>
                                 <div class="testimonials">
          <div class="trip_advisor mrgb-10" style="border-bottom: 1px solid #ddd; padding-bottom: 5px;">
            <h5 style="padding-bottom: 5px;">Gaurishankar Conservation Area Trip</h5>
            <p style="font-size: 13px; line-height: 20px;">Our visit to Gaurishankar Conservation…            </p>
            <div class="flg-inner clearfix">
           <div class="flg">
              <h6>Lynne Gowen <img src="https://majestichimalaya.com/wp-content/uploads/2017/11/canada-flag.png"></h6>
                                </div> 
            <div class="preview">
              <ul>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li></li>
              </ul>
            </div>
            

          </div>
          
            
          </div>
          </div>
                                           <div class="review-img">
                         <img src="https://majestichimalaya.com/wp-content/uploads/2019/12/80451258_429066577973832_2601674047255216128_n.jpg" alt="Western Nepal Tour 2019">
                       </div>
                                 <div class="testimonials">
          <div class="trip_advisor mrgb-10" style="border-bottom: 1px solid #ddd; padding-bottom: 5px;">
            <h5 style="padding-bottom: 5px;">Western Nepal Tour 2019</h5>
            <p style="font-size: 13px; line-height: 20px;">Had a few days to…            </p>
            <div class="flg-inner clearfix">
           <div class="flg">
              <h6>Sally  <img src="https://majestichimalaya.com/wp-content/uploads/2018/03/uk-flag.png"></h6>
                                </div> 
            <div class="preview">
              <ul>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li></li>
              </ul>
            </div>
            

          </div>
          
            
          </div>
          </div>
                                           <div class="review-img">
                         <img src="https://majestichimalaya.com/wp-content/uploads/2019/12/76695246_2636646599730666_6957742870858039296_o.jpg" alt="Excellent adventure with Majestic Himalaya in Upper Mustang">
                       </div>
                                 <div class="testimonials">
          <div class="trip_advisor mrgb-10" style="border-bottom: 1px solid #ddd; padding-bottom: 5px;">
            <h5 style="padding-bottom: 5px;">Excellent adventure with Majestic Himalaya in Upper Mustang</h5>
            <p style="font-size: 13px; line-height: 20px;">Had an excellent adventure with…            </p>
            <div class="flg-inner clearfix">
           <div class="flg">
              <h6>Sally Kennedy <img src="https://majestichimalaya.com/wp-content/uploads/2018/03/uk-flag.png"></h6>
                                </div> 
            <div class="preview">
              <ul>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li></li>
              </ul>
            </div>
            

          </div>
          
            
          </div>
          </div>
                                           <div class="review-img">
                         <img src="https://majestichimalaya.com/wp-content/uploads/2019/10/72807737_10158179835542448_6192091420505931776_n.jpg" alt="Wonderful tour 2019">
                       </div>
                                 <div class="testimonials">
          <div class="trip_advisor mrgb-10" style="border-bottom: 1px solid #ddd; padding-bottom: 5px;">
            <h5 style="padding-bottom: 5px;">Wonderful tour 2019</h5>
            <p style="font-size: 13px; line-height: 20px;">After a relaxing weekend at…            </p>
            <div class="flg-inner clearfix">
           <div class="flg">
              <h6>Janet Westcott and Family  <img src=""></h6>
                                </div> 
            <div class="preview">
              <ul>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li></li>
              </ul>
            </div>
            

          </div>
          
            
          </div>
          </div>
        

          <a href="https://majestichimalaya.com/testimonial">View All Reviews</a> </div>
      </div>
      
<div class="col-xs-12 col-sm-6 col-md-3">
  

  <div class="title_head">
              <h1 class="font-22 mrgb-10">Why Travel With Us</h1>
    </div> 
         <div class="travel_box">
              <div class="panel-group" id="accordion">
                                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">
                                    <a class="accordion-toggle panel-open" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                      Everest Natives                                    </a>
                                  </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                  <div class="panel-body">
                                   <p style="text-align: justify;">Majestic Himalaya is an operated by Everest Native Sherpas having wide range of knowledge in mountain tourism.</p>
                                  </div>
                              </div>
                            </div>
                                                            <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">
                                    <a class="accordion-toggle " data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                      Safety&amp;Flexibility                                    </a>
                                  </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse ">
                                  <div class="panel-body">
                                   <p>Your safety when being with us is our first priority. Our guides are selected based on their technical proficiency, proven safety records and their ability to provide knowledgeable instructions. Also feel free asking us during entire trip for any of your needs we are so flexible and open to discuss.</p>
                                  </div>
                              </div>
                            </div>
                                                            <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">
                                    <a class="accordion-toggle " data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                      Financial Security                                    </a>
                                  </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse ">
                                  <div class="panel-body">
                                   <p style="text-align: justify;">The financial transaction and protection is the most sensitive part of any travel package. We aim to provide you quality services at fair and competitive prices and excellent value for money.</p>
                                  </div>
                              </div>
                            </div>
                                                            <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">
                                    <a class="accordion-toggle " data-toggle="collapse" data-parent="#accordion" href="#collapsefour">
                                      Optimal Services                                    </a>
                                  </h4>
                                </div>
                                <div id="collapsefour" class="panel-collapse collapse ">
                                  <div class="panel-body">
                                   <p>Our well experienced team members will do their best to make you happy by providing optimal service &amp; hospitality.</p>
                                  </div>
                              </div>
                            </div>
                                                            <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">
                                    <a class="accordion-toggle " data-toggle="collapse" data-parent="#accordion" href="#collapsefive">
                                      Food &amp; Accommodation                                    </a>
                                  </h4>
                                </div>
                                <div id="collapsefive" class="panel-collapse collapse ">
                                  <div class="panel-body">
                                   <p style="text-align: justify;">Our all chefs are highly experienced for making dishes from continental to Nepali. All meals will be hygienic and healthy during the trip. We use the hotels ranked 3 to 5 stars &nbsp;in Kathmandu and lodges during the &nbsp;trekking.</p>
                                  </div>
                              </div>
                            </div>
                                            </div>
           </div>
          
      

<div id="sidebar" class="">

 
          </div>
        </div>


<style type="text/css">
.pakg_info1 h2{
 color: #363997;

  
    padding: 10px;
}
  }
.pakg_list1{
  padding: 10px;
  background: #fff;

}

.pakg_list2{
  padding: 10px;
  background: #fff;

}
  .pakg_list1 li{
    border-bottom: 1px solid #efefef;
    color: #dc472e;
    font-weight: 500;
    padding: 7px 0;
    font-size: 17px;

  }
  .pakg_list1 li a{
    color: #dc472e;
    font-weight: 500;
    font-size: 17px;
  }


  .input-group {
   position: relative;
   display: table;
   border-collapse: separate;
   width: 100%;
   /* border-radius: 33px; */
}

.input-group textarea.form-control{
  border-radius: 3px !important;
}

.btn-all{
    background: #363997;
    color: #fff;
    display: block;
    width: 100%;
    border-radius: 3px;
    border: none;
    outline: none;
    padding: 8px 0px;
    font-weight: 600;
}

.btn-all:hover{
    background: #f00;
    color: #fff;
}

.wpcf7-captchar{
      height: 35px;
    padding: 5px;
    width: 65%;
    border-radius: 3px;
    outline: none;
    border: 1px solid #ccc;
}
.wpcf7-captchac{
  height: 34px;
  width: 70px;
}
</style>


    </div>
  </div>
</div>