/* //package section css */
.package_section {
  padding: 20px 0;
  background: #fff;
}

.price_btn {
  display: inline-block;
  position: absolute;
  text-align: center;
  background: #f47b44;
  border-radius: 0;
  padding: 10px;
  color: #fff;
  top: 0;
  right: 0;
  font-size: 16px;
  font-weight: 500;
  z-index: 999;
}
.price_btn h4 {
  color: #fff;
  font-size: 16px;
}
.pakg_box {
  text-align: center;
  background: #ffffff;
}
.pakg_img {
  position: relative;
}
.title_btn {
  display: inline-block;
  position: absolute;
  text-align: left;
  background: rgba(0,0,0,.5);
  border-radius: 0;
  padding: 10px;
  color: #fff;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  z-index: 999;
}
.title_btn h4 {
  color: #fff;
  padding-bottom: 5px;
}
.title_btn h5 {
  color: #fff;
}
.pakg_discription {
  padding: 10px;
}
.pakg_discription p {
  padding: 0;
  line-height: 20px;
  text-align: left;
}