.mrgb-20 {
  margin-bottom: 20px !important;
}
.font-18 {
  font-size: 18px;
  line-height: 22px !important;
}
.form-horizontal .control-label {
  padding-top: 7px;
  margin-bottom: 0;
  text-align: left;
  font-size: 13px;
  font-weight: 400;
}
.wpcf7-form-control-wrap {
  position: relative;
}
input[type="submit"] {
  height: 40px;
  border-radius: 4px;
  padding: 0 30px;
  border: none;
  background: #2bb069;
  color: #fff;
  float: right;
}
.wel_inner {
  text-align: justify;
}
.mrgb-30 {
  margin-bottom: 30px !important;
}
.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
}
.widthbutton1 {
  width: 100%;
}
.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
.form-horizontal .form-group {
  margin-right: -15px;
  margin-left: -15px;
}
.form-group {
  margin-bottom: 15px;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}


/* for page url segment */
.breadcrumb {
  background: none;
  border-bottom: 1px solid #dddddd;
  border-radius: 0;
  margin-bottom: 10px;
  padding: 10px 5px;
  font-size: 13px;
}
.breadcrumb>li a {
  color: #666666;
  text-decoration: none;
}
.breadcrumb>li+li:before {
  padding: 0 0px;
  color: #ccc;
  content: "/\00a0";
}
.breadcrumb>.active {
  color: #f47b44;
}