* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}
a{
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: 0;
  padding: 0;
  color: #2d3e52;
  font-family: 'Roboto', sans-serif;
}
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #555555;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 15px;
  line-height: 20px;
}

/* h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit ;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
} */
h4, .h4 {
  font-size: 18px !important;
}
h5, .h5 {
  font-size: 14px !important;
}
h6, .h6 {
  font-size: 12px !important;
}

/* header css */

.header_link ul a {
  text-decoration: none;
  color: #363997 !important ;
  outline: none!important;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav>li>a:hover {
  text-decoration: none;
  background-color: #3dbbec;
}

.header_info ul li {
  color: #898989;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  margin: 0 15px 0 0;
}

.header_info ul li i {
  color: #2bb069;
  margin-right: 10px;
}

.header_link li {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
}

/* navbar css */
nav{
  background: #363997;
}
.relative{
  position : relative;
}

.navbar-nav li:hover > .dropdown-menu {
  display: block;
  margin-top: 0; 
}

.dddd{
    width: auto;
    top: auto;
    left: 0px;
    min-width: 10em;
    max-width: 20em;
}

.nav-link{
  color: #fff !important;
}

.navbar-nav a:hover{
  background: #2bb069;
}
.navbar-nav .cat{
  padding: 15px 14px;
}

.dropdown-menu{
  background: #363997 !important;
}

.dropdown-menu a:hover{
  background: #3b3e9f !important;
  color: #fff;
}

.dropdown-menu a{
  color: #fff;
}

/* Footer Css */
.footer {
  padding: 40px 0;
  background: #363997;
}

.fot_info {
  border-right: 1px solid #3f42a4;
}
.fot_info h3 {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}
.mrgb-20 {
  margin-bottom: 20px !important;
}
.mrgb-30 {
  margin-bottom: 30px !important;
}

.cnt_dtl li {
  display: block;
  line-height: 32px;
  font-size: 14px;
}

.cnt_dtl li a {
  color: #e4e4e5;
  text-decoration: none;
}

.cnt_dtl li i {
  margin-right: 6px;
}

.cnt_dtl li span {
  font-size: 14px;
  color: #fff;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer_last {
  background: #31338a;
  padding: 10px 0;
}

.fot_inner p {
  text-align: center;
  font-size: 12px;
  color: #fff;
  padding-bottom: 20px;
}

/* Social Icons  */
.hanging-social {
  position: fixed;
  z-index: 99;
  right: 0;
  top: 30%;
}

.hanging-social ul li {
  list-style: none;
  border-radius: 50%;
  margin-bottom: 5px;
  padding: 8px;
  text-align: center;
  transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
  -moz-transition: 0.5s all ease-in-out;
  -webkit-transition: 0.5s all ease-in-out;
}

.hanging-social ul li a {
  color: #fff;
  transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
  -moz-transition: 0.5s all ease-in-out;
  -webkit-transition: 0.5s all ease-in-out;
}

.facebook {
  background-color: #3a559f;
}
.twitter {
  background-color: #50abf1;
}
.instagram {
  background-color: #c536a4;
}
.ta {
  background-color: #00a680;
}


@media only screen and (max-width: 768) {
  .logo{
    display: none !important;
  }  
}
