/* Slider */

.serchcont {
  position: relative;
}

.search {
  width: 100%;
  padding: 24px 26px;
  position: absolute;
  background: rgba(11, 10 ,10, 0.6);
  bottom: 30px;
  z-index: 999;
}

.search h2 {
  color: #fff;
  font-size: 22px;
  padding-bottom: 15px;
}

.mrgb-10 {
  margin-bottom: 10px !important;
}

.font-22 {
  font-size: 26px;
  line-height: 26px !important;
}

.search input, .search select {
  width: 100%;
  border: none;
  height: 40px;
  padding-left: 12px;
  border-radius: 4px;
  color: #999999 !important;
  background-color: #ffffff;
  background-position: 100% 3%;
  float: inherit;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.form-control {
  font-family: inherit;
  display: block;
  width: 100%;
  height: 40px;
  font-size: 13px;
  line-height: 20px;
  color: #999999 !important;
  background-color: transparent;
  border-radius: 4px;
  box-shadow: 0 0 0 transparent;
}

.search i.fa {
  position: absolute;
  top: 14px;
  right: 25px;
}

.button, input[type="button"], input[type="submit"], input[type="text"], input[type="password"], input[type="email"], textarea, select {
  font-size: 14px;
  color: #555555;
  outline: none;
}

.search .submit_field .tab_search {
  height: 40px;
  border-radius: 4px;
  padding: 0 30px;
  border: none;
  background: #2bb069;
  color: #fff;
}

.preview ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #fcb409;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
  box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}
.panel-default>.panel-heading {
  color: #2b2b2b;
  background-color: #ffffff;
  border-color: #ffffff;
  padding: 10px 15px 10px 40px;
  position: relative;
}

.collapse.in {
  display: block;
  visibility: visible;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: normal;
  color: inherit;
  color: #2b2b2b;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
  border-top-color: #ddd;
} 
.panel-body {
  padding: 15px;
}
.panel-group .panel-heading+.panel-collapse>.panel-body, .panel-group .panel-heading+.panel-collapse>.list-group {
  border-top: 1px solid #ddd;
}

.panel-heading a, .panel-heading a:hover, .panel-heading a:focus {
  text-decoration: none;
  color: #777777;
} 
.panel-title>a {
  color: inherit;
} 
.panel-heading:before {
  content: "\f055";
  font-family: 'FontAwesome';
  font-size: 20px;
  text-align: center;
  line-height: 20px;
  position: absolute;
  width: 30px;
  height: 30px;
  left: 05px;
  top: 8px;
  border-radius: 10px;
  color: #3b419a;
  background-color: none;
}
.welcome_section {
  padding: 30px 0 10px 0;
  background-color: #f0f3fb;
}
.tri_icon {
  display: inline-block;
  vertical-align: middle;
}
.wel_inner {
  text-align: justify;
}

@media only screen and (max-width: 655px) {
  /* For mobile phones: */
  .search {
    position: static;
  }
  .test{
    background: rgba(11, 10 ,10, 0.6);
  }
}

/* Welcome Section */
.review-img {
  height: 50px;
  width: 50px;
  float: left;
  margin-right: 10px;
  border-radius: 50%;
  overflow: hidden;
}
.flg {
  float: left;
  margin-right: 5px;
}
.flg h6 {
  display: inline-block;
  vertical-align: middle;
  font-style: italic;
}
.preview {
  margin-left: 5px;
  float: left;
}
.preview ul{
  margin-bottom: 0 !important;
}