.review-text {
  font-size: 16px;
}
.review-wrap {
  border-bottom: 1px solid #ddd; 
   padding-bottom: 10px;
}
.review-img {
  margin: 0 auto;
  height: 165px;
  width: 165px;
  border-radius: 50%;
  overflow: hidden;
}
.review-info h4 {
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}

.mrgb-10 {
  margin-bottom: 10px !important;
}
.review-info h4 span {
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  margin-left: 5px;
}

.review-post {
  color: #cc181e;
}
.more_js {
  height: 103px;
  overflow: hidden;
}

.review-text {
  font-size: 16px;
}
.mrgb-30 {
  margin-bottom: 30px !important;
}
.hidden {
  display: none!important;
  visibility: hidden!important;
}
.show{
  display: block  !important;
}