{%extends 'main.html'%}{%load static%}
{%block css%}{%static 'css/category.css'%}{%endblock%}
{%block body%}


{%for category in category %}
<div class="">
  <div class="container">
  
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="clearfix" style="padding-bottom: 7px;">
            <h2 class="font-24">{{category.name}}</h2>
        </div>

        <div class="dtl_discription"> 
          <div class="trip_intr">
            <p style="text-align: justify;">{{category.description}}</p>
          </div>
        </div>

    </div>
  </div>
</div>

{% comment %} packages section {% endcomment %}
<div class="package_section">
  <div class="container">
    <div class="row clearfix">                                 <div class="col-xs-12 col-sm-6 col-md-4 col-50 mrgb-30">
                                  <div class="pakg_box">
                                    <div class="pakg_img"> 
                                    <a href="https://majestichimalaya.com/tour/nepal-tour-with-poon-hill3210m/">
                                      <img src=" https://majestichimalaya.com/wp-content/themes/majestic_himalaya/inc/timthumb.php?src=https://majestichimalaya.com/wp-content/uploads/2018/05/1-15.jpg&amp;w=360&amp;h=240" alt="Nepal Tour With Poon Hill Trek" width="100%">
                                    </a>
                                                                          <div class="price_btn">
                                        <h4>
                                          <span>All Inclusive </span> </h4>
                                      </div>
                                                                            <div class="title_btn">
                                        <h4>Nepal Tour With Poon Hill Trek</h4>
                                        <h5>13 Days</h5>
                                      </div>
                                    </div>
                                    <div class="pakg_discription">
                                      <p>This trip is very carefully designed covering all major touristic destinations in the country. In… <a href="https://majestichimalaya.com/tour/nepal-tour-with-poon-hill3210m/">More Details  »</a>
                                        
                                      </p>
                                    </div>
                                  </div>
                                </div> 
                                                              <div class="col-xs-12 col-sm-6 col-md-4 col-50 mrgb-30">
                                  <div class="pakg_box">
                                    <div class="pakg_img"> 
                                    <a href="https://majestichimalaya.com/tour/982/">
                                      <img src=" https://majestichimalaya.com/wp-content/themes/majestic_himalaya/inc/timthumb.php?src=https://majestichimalaya.com/wp-content/uploads/2017/11/p.jpg&amp;w=360&amp;h=240" alt="Lower Dolpo Trek" width="100%">
                                    </a>
                                                                          <div class="price_btn">
                                        <h4>
                                          <span>All Inclusive </span> </h4>
                                      </div>
                                                                            <div class="title_btn">
                                        <h4>Lower Dolpo Trek</h4>
                                        <h5>18 Days </h5>
                                      </div>
                                    </div>
                                    <div class="pakg_discription">
                                      <p>Lower Dolpo trek offers outstanding trekking experiences in the remote western part of Nepal. This… <a href="https://majestichimalaya.com/tour/982/">More Details  »</a>
                                        
                                      </p>
                                    </div>
                                  </div>
                                </div> 
                                                              <div class="col-xs-12 col-sm-6 col-md-4 col-50 mrgb-30">
                                  <div class="pakg_box">
                                    <div class="pakg_img"> 
                                    <a href="https://majestichimalaya.com/tour/annapurna-with-tilicho-lake-trek/">
                                      <img src=" https://majestichimalaya.com/wp-content/themes/majestic_himalaya/inc/timthumb.php?src=https://majestichimalaya.com/wp-content/uploads/2017/11/t.jpg&amp;w=360&amp;h=240" alt="Annapurna Circuit Trek with Tilicho Lake" width="100%">
                                    </a>
                                                                          <div class="price_btn">
                                        <h4>
                                          <span>All Inclusive </span> </h4>
                                      </div>
                                                                            <div class="title_btn">
                                        <h4>Annapurna Circuit Trek with Tilicho Lake</h4>
                                        <h5>18 Days </h5>
                                      </div>
                                    </div>
                                    <div class="pakg_discription">
                                      <p>Annapurna Circuit trek with Tilicho Lake is a fantastic journey along the famous Annapurna region… <a href="https://majestichimalaya.com/tour/annapurna-with-tilicho-lake-trek/">More Details  »</a>
                                        
                                      </p>
                                    </div>
                                  </div>
                                </div> 
                               </div>
  </div>
</div>

{%endfor%}
{%endblock%}
