{%extends 'main.html'%}{%load static%}{%block css%}{%static 'css/contact_us.css'%}{%endblock%}
{%block body%}
<div class="container">
    <i>
    <ol class="breadcrumb">
        <span>You are here:</span>
            <li><a href="https://majestichimalaya.com">Home</a></li>
            
                        <li class="active">Contact Us</li>
                    </ol></i>
  </div>

<div class="">

            
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-8">
           <div class="contact_box">
             <div class="form_sec">
                <form class="well form-horizontal" action=" " method="post" id="contact_form">
                  <div role="form" class="wpcf7" id="wpcf7-f261-o1" lang="en-US" dir="ltr">
<div class="screen-reader-response"></div>

<div style="display: none;">
<input type="hidden" name="_wpcf7" value="261">
<input type="hidden" name="_wpcf7_version" value="4.9">
<input type="hidden" name="_wpcf7_locale" value="en_US">
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f261-o1">
<input type="hidden" name="_wpcf7_container_post" value="0">
</div>
<fieldset>
<h3 class="font-18 mrgb-20">Contact us</h3>
<div class="form-group"><label class="col-md-4 control-label">Full Name</label>
<div class="col-md-8 inputGroupContainer">
<div class="input-group"><span class="input-group-addon"><i class="fas fa-user"></i></span><span class="wpcf7-form-control-wrap textFirstName"><input type="text" name="textFirstName" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" placeholder="Full Name"></span></div>
</div>
</div>
<div class="form-group"><label class="col-md-4 control-label">E-Mail</label>
<div class="col-md-8 inputGroupContainer">
<div class="input-group"><span class="input-group-addon"><i class="fas fa-envelope"></i></span><span class="wpcf7-form-control-wrap email"><input type="email" name="email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control" aria-required="true" aria-invalid="false" placeholder="E-mail Address"></span></div>
</div>
</div>
<div class="form-group"><label class="col-md-4 control-label">Phone</label>
<div class="col-md-8 inputGroupContainer">
<div class="input-group"><span class="input-group-addon"><i class="fas fa-phone"></i></i></span><span class="wpcf7-form-control-wrap textPhoneNumber"><input type="text" name="textPhoneNumber" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" placeholder="977-9849800709"></span></div>
</div>
</div>
<div class="form-group"><label class="col-md-4 control-label">Address</label>
<div class="col-md-8 inputGroupContainer">
<div class="input-group"><span class="input-group-addon"><i class="fas fa-home"></i></span><span class="wpcf7-form-control-wrap textAddress"><input type="text" name="textAddress" value="" size="40" class="wpcf7-form-control wpcf7-text form-control" aria-invalid="false" placeholder="Address"></span></div>
</div>
</div>
<div class="form-group"><label class="col-md-4 control-label">Message</label>
<div class="col-md-8 inputGroupContainer">
<div class="input-group"><span class="input-group-addon"><i class="fas fa-pencil"></i></span><span class="wpcf7-form-control-wrap textareaProjectDescription"><textarea name="textareaProjectDescription" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea form-control" aria-invalid="false" placeholder="Message"></textarea></span></div>
</div>
</div>
<div class="form-group"><label class="col-md-4 control-label"></label>
<div class="col-md-8"><input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit btn btn-warning widthbutton1"></div>
</div>
</fieldset>
<div class="wpcf7-response-output wpcf7-display-none"></div></div></form>                
             </div>
           </div>
       </div>
      
      <div class="col-xs-12 col-sm-6 col-md-4">
         
         <div class="wel_inner">
           <div class="cont_information mrgb-30">
              <h1 class="font-18">Contact Location</h1>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3531.336329903988!2d85.38286411463895!3d27.737770482779286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb1b32f0b1b125%3A0x39c8bac5c7e75c85!2sMajestic+Himalaya+Treks+%26+Expeditions!5e0!3m2!1sen!2snp!4v1525851980286" width="100%" height="480" frameborder="0" style="border:0" allowfullscreen=""></iframe>
            </div>
           
       </div>
      </div>
      
    </div>
  </div>
</div>
{%endblock%}