<div class="footer" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="fot_info">
                  <h3 class="mrgb-20">Trekking</h3>
          <ul class="cnt_dtl mrgb-30">

          
           <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>Luxury Poon Hill Trek</a></li>
           
           <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>Annapurna Circuit Trek</a></li>
           
           <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>Everest View Trek</a></li>
           
           <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>Tamang Heritage Trail with Langtang</a></li>
           
           <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>Everest Gokyo Ri Trek</a></li>
           
           <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>Lower Dolpo Trek</a></li>
                      
            
          </ul>
                  </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="fot_info">
                  <h3 class="mrgb-20">Peak Climbing</h3>
          <ul class="cnt_dtl mrgb-30">

          
           <li><a href="https://majestichimalaya.com/tour/mera-peak-climbing/"><i class="fa fa-angle-right" aria-hidden="true"></i>Mera Peak Climbing</a></li>
           
           <li><a href="https://majestichimalaya.com/tour/island-peak-climbing-3/"><i class="fa fa-angle-right" aria-hidden="true"></i>Island Peak Climbing</a></li>
           
           <li><a href="https://majestichimalaya.com/tour/yala-peak-climbing/"><i class="fa fa-angle-right" aria-hidden="true"></i>Yala Peak Climbing</a></li>
           
           <li><a href="https://majestichimalaya.com/tour/lobuche-peak-climbing/"><i class="fa fa-angle-right" aria-hidden="true"></i>Lobuche East Peak Climbing</a></li>
           
           <li><a href="https://majestichimalaya.com/tour/mardi-himal-peak-climbing/"><i class="fa fa-angle-right" aria-hidden="true"></i>Mardi Himal Peak Climbing</a></li>
           
           <li><a href="https://majestichimalaya.com/tour/pisang-peak-climbing-2/"><i class="fa fa-angle-right" aria-hidden="true"></i>Pisang Peak Climbing</a></li>
           
           <li><a href="https://majestichimalaya.com/tour/chulu-west-peak-climbing/"><i class="fa fa-angle-right" aria-hidden="true"></i>Chulu West Peak Climbing</a></li>
                      
            
          </ul>
                  </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="fot_info">
                  <h3 class="mrgb-20">Helicopter Tours</h3>
          <ul class="cnt_dtl mrgb-30">

          
           <li><a href="https://majestichimalaya.com/tour/gosainkunda-helicopter-tour/"><i class="fa fa-angle-right" aria-hidden="true"></i>Gosainkunda Helicopter Tour</a></li>
           
           <li><a href="https://majestichimalaya.com/tour/langtang-helicopter-tour/"><i class="fa fa-angle-right" aria-hidden="true"></i>Langtang Helicopter Tour</a></li>
           
           <li><a href="https://majestichimalaya.com/tour/muktinath-helicopter-tour/"><i class="fa fa-angle-right" aria-hidden="true"></i>Muktinath Helicopter Tour</a></li>
           
           <li><a href="https://majestichimalaya.com/tour/upper-mustang-helicopter-tours/"><i class="fa fa-angle-right" aria-hidden="true"></i>Upper Mustang Helicopter Tour</a></li>
           
           <li><a href="https://majestichimalaya.com/tour/everest-base-camp-helicopter-tour/"><i class="fa fa-angle-right" aria-hidden="true"></i>Everest Base Camp Helicopter Tour</a></li>
           
           <li><a href="https://majestichimalaya.com/tour/annapurna-helicopter-tour/"><i class="fa fa-angle-right" aria-hidden="true"></i>Annapurna Helicopter Tour</a></li>
                      
            
          </ul>
                  </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="fot_info fot_infolst">
          <h3 class="mrgb-20">Contact info</h3>
          <ul class="cnt_dtl mrgb-30">
            <li><span><i class="fa fa-home" aria-hidden="true"></i>Majestic Himalaya</span></li>
            <li><span><i class="fa fa-fax" aria-hidden="true"></i>Post Box No, 9922,  Kathmandu</span></li>
            <li><span><i class="fa fa-phone" aria-hidden="true"></i>Phone:977-9849800709</span></li>
            <li><span><i class="fa fa-mobile" aria-hidden="true"></i>Cell Phone:977-9849800709,9851017589, 9843748609</span></li>
            <li><span><i class="fa fa-envelope" aria-hidden="true"></i>Email:info@majestichimalaya.com</span></li>
          </ul>
         
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer_last">
  <div class="container">
    <div class="fot_inner">
      <p>© 2021&nbsp;&nbsp;Majestic Himalaya.&nbsp; All Rights Reserved. &nbsp; | &nbsp; Powered By: <a href="#" target="_blank" style="color:#fff;"> Prodigy Technosys</a> </p>
    </div>
  </div>
</div>