{% load static %} 
<header>
  <div class="container">
    <div class="row">

        <div class="col-xs-12 col-sm-5 col-md-5">
          <div class="logo">
            <a href="{%url 'home'%}" >
              <img src="{% static 'images/logo.png'%}" alt= "Travel App">
            </a>
          </div>
        </div>

        <div class="col-xs-6 col-sm-2 col-md-2 col-50 logo">
          <img src= "{%static  'images/visitnepal.png'%}" alt="Visit Nepal">
        </div>

        <div class="col-sm-5 col-md-5">
          <div class="header_detail m-3">
            <div class="header_info">
              <ul>
                <li><i class="fas fa-phone-alt"></i>9843584287</li>
                <li><i class="fas fa-envelope"></i>theabhi45@gmail.com</li>
              </ul>
            </div>
          </div>
          <div class="header_link">
            <ul>
              <ul class="nav navbar-right">
                  <li><a href="{%url 'team'%}">Our Team</a></li>
                  <li><a href="#">Become a partner</a></li>
                  <li><a href="{%url 'contact'%}">Contact Us</a></li>
              </ul>
            </ul>
          </div>
        </div>
    </div>
  </div>
</header>