<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <div class="navigation" >
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto">
          <li class="nav-item active">
            <a class="nav-link cat" href="{%url 'home'%}">Home </a>
          </li>
          {%for category in categories%}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle cat" href="{%url 'category' category.slug%}" id="navbarDropdown" role="button"  aria-haspopup="true" aria-expanded="false">
                {{category.name}}
              </a>
              {%if category.sub_category_set.all %}
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% comment %} sub category {% endcomment %}
              {%for sub in category.sub_category_set.all%} 
              <ul  style=" margin-left: 0px; margin-top: 0px; z-index: 1001; border-bottom: 0.5px solid grey;">
                <li>
                  <a class="dropdown-item sub" href="#" id="sub{{sub.id}}"  data-toggle="dropdown" >{{sub.name}}</a>
                  {%if sub.specific_category_set.all %}
                    <ul class="dropdown-menu " style="width: auto; top: auto; left: 0px; min-width: 10em; max-width: 20em;margin-left: 216.875px; margin-top: -43px; z-index: 1002; ">
                      {%for spec in sub.specific_category_set.all%}
                        <li class="dropdown" style="border-bottom: 0.5px solid grey;">
                            <a class="dropdown-item" data-toggle="dropdown" href="#">{{spec.name}}</a>
                        </li>
                      {%endfor%}
                    </ul>
                  {%endif%}  
                </li>
              </ul>
              {%endfor%} 
              
              
              {%endif%} 
            </li>
          {%endfor%}

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle cat" href="{{category.slug}}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              More Activities
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {%for rem in rem_categories%}
                <a class="dropdown-item" href="#">
                {{rem.name}}
                </a>
              {%endfor%}
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav> 