{%extends 'main.html'%}{%load static%}{%block css%}{%static 'css/our_team.css'%}{%endblock%}
{%block body%}
<div class="trip-wrap">
  <div class="container">
    <div class="review-text" style="margin-bottom: 17px;"><p>We are a group of Everest native guides and travel experts from different countries. We share our hospitality on a common love of mountain adventures to the esteemed guest from world over. Our every member is passionate and committed for responsible travel.</p></div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4">
            
            <div class="blog-info mrgb-10 clearfix">
              
                  <div class="review-wrap clearfix">
                                            <div class="review-img">
                          <img src="https://majestichimalaya.com/wp-content/uploads/2017/11/IMG_6587.jpg" alt="Tilak Shrestha">
                  </div>
                  <div class="review-info">
                          
                          <h4 class="mrgb-10">Tilak Shrestha<br><span class="review-post">Managing Director &amp; Spiritual Tour Leader </span></h4>
                          
                          <div class="review-text more_js more_content" style="height: 103px;"><p style="text-align: justify;">Tilak Shrestha is founder member of Majestic Himalaya with enormous experience in the field of travel and tourism. His passion and love for the nature, mountains and his own country inspired him to step in the field of tourism and establish a tour operator company.&nbsp; He visited different places of the country and successfully attempted various routes to different trekking regions of Nepal. He also traveled to different other countries in Europe and neighboring country India. His passion led him to spend more than twenty years of his life in the tourism industry by now.&nbsp;He attended city tour guide training from the Nepal government. He completed his M.A. in Sociology from Tribhuwan University and&nbsp;M.A. in Buddhism and Peace Studies. Also he is one of the well known spiritual teacher&nbsp; in the country.</p></div>
                            <a href="javascript:void(0);" class="lessclick hidden"> Less </a>
                            <a href="javascript:void(0);" class="moreclick"> Read More.. </a>
                        </div> 
                                                
                  </div>

            </div>
          </div>
      </div>
  </div>
</div>


{%endblock%}

{%block js%}
<script>
  $('.moreclick').click(function(){

    $('.review-text').css({height:'auto'})
    $('.moreclick').addClass('hidden')
    $('.lessclick').removeClass('hidden')
  })
  $('.lessclick').click(function(){
    $('.review-text').css({height:'103px'})
    $('.moreclick').removeClass('hidden')
    $('.lessclick').addClass('hidden')
  })
</script>
{%endblock%}